{% extends "index_reg.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}

	<div class="h5 modal-title text-center">
        <h4 class="mt-2">
            <div>
            	<h1>Logged out</h1>
            </div>
            <div class="divider"></div>
            <span>
            	<p>You have been successfully logged out. You can
            		<a href="{% url 'login' %}" class="btn btn-primary btn-lg">log-in again</a>
            	</p>
			</span>
        </h4>
    </div>
  
{% endblock %}
