{% extends "index_reg.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
        
        <form action="{% url 'login' %}" method="post" class="">
            {% csrf_token %}
            <div class="modal-body">
                <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                        <div>Welcome back,</div>
                        <span>Please sign in to your account below.</span>
                    </h4>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="username" id="exampleEmail" placeholder="Username here..." required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="password" id="examplePassword" placeholder="Password here..." type="password" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="position-relative form-check">
                    <input name="check" id="exampleCheck" type="checkbox" class="form-check-input">
                    <label for="exampleCheck" class="form-check-label">Keep me logged in</label>
                </div>
                <div class="divider"></div>
                <div class="social">
                    <ul>
                        <li class="facebook">
                            <a href="{% url 'social:begin' 'facebook' %}">
                                Signin with Facebook
                            </a>
                        </li>
                        <li class="google">
                            <a href="{% url 'social:begin' 'google-oauth2' %}">
                                Login with Google
                            </a>
                        </li>
                    </ul>
                </div>
                <h6 class="mb-0">No account?
                    <a href="{% url 'register' %}" class="text-primary">
                        Sign up now
                    </a>
                </h6>
            </div>
            <div class="modal-footer clearfix">
                <div class="float-left">
                    <a href="{% url 'password_reset' %}" class="btn-lg btn btn-link">
                        Recover Password
                    </a>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Login to Dashboard
                    </button>
                </div>
            </div>
        </form>
{% endblock %}