{% extends "index_reg.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

	<div class="h5 modal-title text-center">
        <h4 class="mt-2">
            <div>Password set</div>
            <span>Your password has been set. You can </span>
        </h4>
    </div>
    <div class="modal-footer clearfix">
	    <div class="">
    	    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">log in now</a>
    	</div>
    </div>

{% endblock %}
