{% extends "index_reg.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    
        {% if validlink %}
            <form action="." method="post" class="">
            {% csrf_token %}
            <div class="modal-body">
                <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                        <div>Reset your password</div>
                        <span>Please enter your new password twice:</span>
                    </h4>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="new_password1" id="id_new_password1" placeholder="New password..." type="password" required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="new_password2" id="id_new_password2" placeholder="New password confirmation..." type="password" required class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary btn-lg">Change my password</button>
                </div>
            </div>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
{% endblock %}