{% extends "index_reg.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    
        <div class="modal-header">
            <div class="h5 modal-title">Forgot your Password?
                <h6 class="mt-1 mb-0 opacity-8">
                    <span>Use the form below to recover it.</span>
                </h6>
            </div>
        </div>
        <form action="." method="post" class="">
            {% csrf_token %}
            <div class="modal-body">
                <div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="exampleEmail" class="">Email</label>
                                <input name="email" id="exampleEmail" placeholder="Email here..." type="email" required class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <h6 class="mb-0">
                    <a href="{% url 'login' %}" class="text-primary">Sign in existing account</a>
                </h6>
            </div>
            <div class="modal-footer clearfix">
                <div class="float-right">
                    <button class="btn btn-primary btn-lg">Recover Password</button>
                </div>
            </div>
        </form>

{% endblock %}