{% extends "index_reg.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

	<div class="h5 modal-title text-center">
        <h4 class="mt-2">
            <div>
            	<h1>Reset your password</h1>
            </div>
            <div class="divider"></div>
            <span>
            	<p>We've emailed you instructions for setting your password.</p>
            	<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
  			</span>
        </h4>
    </div>
  
  
      
{% endblock %}
