{% load static %}

<!--Footer Widget Area Start-->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="{% url 'index:asosiy' %}"><img src="{% static 'img/logo/footer.png' %}" alt=""></a>
                        </div>
                        <p>Kosonsoy tuman Xalq Ta'limi Bo'limiga qarashli 13-sonli Informatika va axborot texnologiyalariga ixtisoslashtirilgan Yaponiya ta'lim-tajriba sinov maktabi</p>
                        <div class="social-icons">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-telegram"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="single-footer-widget">
                        <h3>Bizning aloqa</h3>
                        <a href="tel:555-555-1212"><i class="fa fa-phone"></i>69 65 25 134</a>
                        <span><i class="fa fa-envelope"></i>info@example.com</span>
                        <span><i class="fa fa-globe"></i>www.maktab13.uz</span>
                        <span><i class="fa fa-map-marker"></i>Kosonsoy tuman O'rta ko'cha MFY Bolo ko'chasi 1-uy</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="single-footer-widget">
                        <h3>Foydali manzillar</h3>
                        <ul class="footer-list">
                            <li><a href="www.uzedu.uz">uzedu.uz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <!--End of Footer Widget Area-->

                <!--Footer Area Start-->
                <footer class="footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-12">
                                <span>13-maktab 2021. Created by <a href="t.me/ravshan_ismoilov">Ravshan Ismoilov</a></span>
                            </div>
                            <div class="col-lg-6 col-md-5 col-12">
                                <div class="column-right">
                                    <span>Privacy Policy , Terms &amp; Conditions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--End of Footer Area-->