{% load static %}
{% load mptt_tags %}
{% load index_tags %}
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-5 d-none d-lg-block d-md-block">
                    <span>Admin ravshan.ismoilov77@gmail.com +998 93 946 11 11</span>
                </div>
                <div class="col-lg-5 col-md-7 col-12">
                    <div class="header-top-right">
                        <div class="content">
                            <a href="#"><i class="zmdi zmdi-account"></i> My Account</a>
                            <ul class="account-dropdown">
                                <li><a href="login-register.html">My Account</a></li>
                                <li><a href="login-register.html">Log In</a></li>
                                <li><a href="login-register.html">Register</a></li>
                                <li><a href="latest-news.html">Blog</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="#"><i class="zmdi zmdi-favorite"></i> Wishlist</a>
                        </div>
                        <div class="content">
                            <a href="#"><i class="zmdi zmdi-shopping-basket"></i> Chechout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo-menu sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="logo">
                        <a href="{% url 'index:asosiy' %}">
                            <img src="{% static 'img/logo/logo.png' %}" alt="maktab13.uz">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="mainmenu-area pull-right">
                        <div class="mainmenu d-none d-lg-block">
                            <nav>
                                <ul id="nav">
                                    
                                    <li class="current">
                                        <a href="{% url 'index:asosiy' %}"> Bosh sahifa </a>
                                    </li>
                                    <li class="current">
                                        <a href="{% url 'blog:post_list' %}"> Yangiliklar </a>
                                    </li>
                                    <li class="current">
                                        <a href="{% url 'index:asosiy' %}"> O'quvchilarga </a>
                                        <ul class="sub-menu">
                                            <li> <a href=""> Dras jadvali </a> </li>
                                            <li> <a href=""> Dras rejimi </a> </li>
                                        </ul>
                                    </li>
                                    {# {% show_menu %} #}
                                
                                </ul>
                            </nav>
                        </div>
                        <ul class="header-search">
                            <li class="search-menu">
                                <i id="toggle-search" class="zmdi zmdi-search-for"></i>
                            </li>
                        </ul>
                        <!--Search Form-->
                        <div class="search">
                            <div class="search-form">
                                <form id="search-form" action="{% url 'blog:post_search' %}">
                                    <input type="search" placeholder="Search here..." name="search">
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>                                
                            </div>
                        </div>
                        <!--End of Search Form-->
                    </div> 
                </div>
            </div>
        </div>
    </div>  
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown" style="display: block;">
                            <ul>
                                <li class="current">
                                        <a href="{% url 'index:asosiy' %} "> Bosh sahifa </a>
                                    </li>
                                    <li class="current">
                                        <a href="{% url 'blog:post_list' %} "> Yangiliklar </a>
                                    </li>
                                    <li class="current">
                                        <a href="{% url 'index:asosiy' %} "> O'quvchilarga </a>
                                        <ul class="sub-menu">
                                            <li> <a href=""> Dras jadvali </a> </li>
                                            <li> <a href=""> Dras rejimi </a> </li>
                                        </ul>
                                    </li>
                                {# {% show_menu %} #}
                            </ul>
                        </nav>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->    
</header>