{% load static %}
{% load blog_tags %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% if index %}
                maktab13.uz
            {% else %}
                {% block title %} {% endblock %} || maktab13.uz
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
		
		<!-- Google Fonts
		============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
        
		<!-- Color Swithcer CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/color-switcher.css' %}">
        
		<!-- Fontawsome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        
		<!-- Metarial Iconic Font CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
        
        <!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
		<!-- Plugins CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        
		<!-- Style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
		<!-- Color CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
        
		<!-- Responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- Modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
	    
        <!-- Color Css Files
		============================================ -->	
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-one.css' %}" title="color-one" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-two.css' %}" title="color-two" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-three.css' %}" title="color-three" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-four.css' %}" title="color-four" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-five.css' %}" title="color-five" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-six.css' %}" title="color-six" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-seven.css' %}" title="color-seven" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-eight.css' %}" title="color-eight" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-nine.css' %}" title="color-nine" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-ten.css' %}" title="color-ten" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-ten.css' %}" title="color-ten" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren1.css' %}" title="pattren1" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren2.css' %}" title="pattren2" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren3.css' %}" title="pattren3" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren4.css' %}" title="pattren4" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren5.css' %}" title="pattren5" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background1.css' %}" title="background1" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background2.css' %}" title="background2" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background3.css' %}" title="background3" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background4.css' %}" title="background4" media="screen" />
        <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background5.css' %}" title="background5" media="screen" />
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                {% include './_header.html' %} 
                <!--End of Header Area-->
                {% if index %}
                    <!--Slider Area Start-->
                    <div class="slider-area slider-two">
                        <div class="preview-2">
                            <div id="nivoslider" class="slides">	
                                <img src="{% static 'img/slider/11.jpg' %}" alt="" title="#slider-1-caption1"/>
                                <img src="{% static 'img/slider/22.jpg' %}" alt="" title="#slider-1-caption2"/>
                            </div> 
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="banner-content slider-1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-content-wrapper">
                                                    <div class="text-content">
                                                        <h1 class="title1">Kosonsoy tuman<br>
                                                        13-sonli umumiy o'rta ta'lim maktab</h1>
                                                        <p class="sub-title d-none d-lg-block"> Informatika va axborot texnologiyalariga ixtisoslashtirilgan<br>
                                                        Yaponiya ta'lim-tajriba sinov maktabi<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                                <div class="banner-content slider-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-content-wrapper">
                                                    <div class="text-content slide-2">
                                                        <h1 class="title1">Kosonsoy tuman<br>
                                                        13-sonli umumiy o'rta ta'lim maktab</h1>
                                                        <p class="sub-title d-none d-lg-block"> Informatika va axborot texnologiyalariga ixtisoslashtirilgan<br>
                                                        Yaponiya ta'lim-tajriba sinov maktabi<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	 
                        </div>
                    </div>
                    
                    <!--Fun Factor Area Start-->
                    <div class="fun-factor-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper white">
                                        <div class="section-title">
                                            <h3>Maktab texnik bazasi</h3>
                                            <p>Bugungi kunda maktabda 70 nafar oliy ma'lumotli o'qituvchilar faoliyat yuritib kelmoqda, shundan: </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="single-fun-factor">
                                        <h4>Oliy toifali</h4>
                                        <h2><span class="counter">10</span>+</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="single-fun-factor">
                                        <h4>1-toifali</h4>
                                        <h2><span class="counter">25</span>+</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="single-fun-factor">
                                        <h4>2-toifali</h4>
                                        <h2><span class="counter">15</span>+</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="single-fun-factor">
                                        <h4>Mutaxasislar</h4>
                                        <h2><span class="counter">20</span>+</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Start Blog Area -->
                    <div class="course-area section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper">
                                        <div class="section-title">
                                            <h3>So'nggi yangiliklar</h3>
                                            <p>Maktab hayotiga oid eng so'nggi yangiliklar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                {% for post in posts %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-item">
                                        <div class="single-item-image overlay-effect">
                                            <a href="{{ post.get_absolute_url }}"><img src="media/{{ post.image }}" alt="{{ post.title }}" style="width: 300px; height: 211px"></a>
                                        </div>
                                        <div class="single-item-text">
                                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                            <div class="single-item-text-info">
                                                <span>By: <span>{{ post.author }}</span></span>
                                                <span>Date: <span>{{ post.publish|date:"d.m.Y" }}</span></span>
                                            </div>
                                            <p>{{ post.body|markdown|truncatewords_html:3 }}</p>
                                            <div class="single-item-content">
                                               <div class="single-item-comment-view">
                                                   <span><i class="zmdi zmdi-eye"></i>{{ post.views }}</span>
                                                   <span><i class="zmdi zmdi-comments"></i>19</span>
                                               </div>
                                               <div class="single-item-rating">
                                                   <i class="zmdi zmdi-star"></i>
                                                   <i class="zmdi zmdi-star"></i>
                                                   <i class="zmdi zmdi-star"></i>
                                                   <i class="zmdi zmdi-star"></i>
                                                   <i class="zmdi zmdi-star-half"></i>
                                               </div>
                                            </div>   
                                        </div>
                                        <div class="button-bottom">
                                            <a href="{{ post.get_absolute_url }}" class="button-default">Batafsil...</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="col-md-12 col-sm-12 text-center">
                                    <a href="{% url 'blog:post_list' %}" class="button-default button-large">Yangiliklar bo'limi <i class="zmdi zmdi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area -->

                    <!--Testimonial Area Start-->
                    <div class="testimonial-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 offset-lg-0 col-md-12 col-12">
                                    <div class="row">
                                        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                                            <div class="testimonial-image-slider text-center">
                                                <div class="sin-testiImage">
                                                    <img src="{% static 'img/testimonial/11.jpg' %}" alt="testimonial 1" />
                                                </div>
                                                <div class="sin-testiImage">
                                                    <img src="{% static 'img/testimonial/33.jpg' %}" alt="testimonial 2" />
                                                </div>
                                                <div class="sin-testiImage">
                                                    <img src="{% static 'img/testimonial/22.jpg' %}" alt="testimonial 3" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="testimonial-text-slider text-center">
                                        <div class="sin-testiText">
                                            <h2>H. D. Karimjonovich </h2>
                                            <p>Maktab direktori. 1995-yil Namangan davlat Universitetini tamomlagan. 2016-yildan beri ushbu lavozimda faoliyat yuritib kelmoqda.</p>
                                        </div>
                                        <div class="sin-testiText">
                                            <h2>S. H. Mullajonovich </h2>
                                            <p>Maktab ma'naviy ma'rifiy ishlar bo'yicha direktor o'rinbosari. 2017-yildan beri ushbu lavozimda faoliyat yuritib kelmoqda.</p>
                                        </div>
                                        <div class="sin-testiText">
                                            <h2>I. SH. Yakubjonovich</h2>
                                            <p>O'quv ishlari bo'yicha direktor o'rinbosari. 2012-yilda Namangan Davlat Universitetini tamomlagan. 2018-yildan beri ushbu lavozimda faoliyat yuritib kelmoqda.</p>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Event Area Start-->
                    <div class="event-area section-padding bg-white">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper">
                                        <div class="section-title">
                                            <h3>Bizning yutuqlar</h3>
                                            <p>Maktab jamoasi tomonidan erishilgan natijalar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-event-item">
                                        <div class="single-event-image">
                                            <a href="#">
                                                <img src="{% static 'img/event/1.jpg' %}" alt="">
                                                <span><span>15</span>Jun</span>
                                            </a>
                                        </div>
                                        <div class="single-event-text">
                                            <h3><a href="#">Learn English in ease</a></h3>
                                            <div class="single-item-comment-view">
                                               <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                               <span><i class="zmdi zmdi-pin"></i>Comilla Bangladesh</span>
                                           </div>
                                           <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                           <a class="button-default" href="#">LEARN Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Newsletter Area Start-->
                    <!--<div class="newsletter-area newsletter-two">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-12">
                                    <div class="newsletter-content">
                                        <h3>SUBSCRIBE</h3>
                                        <h2>TO OUR NEWSLETTER</h2>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-12">
                                    <div class="newsletter-form">
                                        <form action="#" id="mc-form" class="mc-form footer-newsletter fix">
                                            <div class="subscribe-form">
                                                <input id="mc-email" type="email" name="email" placeholder="Enter your email address...">
                                                <button id="mc-submit" type="submit">SUBSCRIBE</button>
                                            </div>    
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                {% else %}
                    {% block content %}{% endblock %}
                {% endif %}
                <!-- Footer -->
                {% include './_footer.html' %}
                <!--End of Footer-->                
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
        <!-- Color Switcher -->
        {% include './switcher.html' %}
        <!-- Color Switcher end -->	
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        
		<!-- popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
        
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
		<!-- AJax Mail JS
		============================================ -->		
        <script src="{% static 'js/ajax-mail.js' %}"></script>
        
		<!-- plugins JS
		============================================ -->		
        <script src="{% static 'js/plugins.js' %}"></script>
        
		<!-- StyleSwitch JS
		============================================ -->	
        <script src="{% static 'js/styleswitch.js' %}"></script>
        
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>