{% load mptt_tags %}

{% recursetree menus %}
    <li class="current">
        <a href="{% url node.slug %}">{{ node.name }}</a>
        {% if not node.is_leaf_node %}
            <ul class="sub-menu">
                <a href="">{{ children }}</a>
            </ul>
        {% endif %}
    </li>
{% endrecursetree %}

