{% load static %}
<!-- Color Switcher -->
        <div class="ec-colorswitcher">
            <a class="ec-handle" href="#"><i class="zmdi zmdi-settings"></i></a>
            <h3>Style Switcher</h3>
            <div class="ec-switcherarea">
                <h6>Select Layout</h6>
                <div class="layout-btn">
                    <a href="#" class="ec-boxed"><span>Boxed</span></a>
                    <a href="#" class="ec-wide"><span>Wide</span></a>
                </div>
                <h6>Chose Color</h6>
                <ul class="ec-switcher">
                    <li><a href="#" class="cs-color-1 styleswitch" data-rel="color-one"></a></li>
                    <li><a href="#" class="cs-color-2 styleswitch" data-rel="color-two"></a></li>
                    <li><a href="#" class="cs-color-3 styleswitch" data-rel="color-three"></a></li>
                    <li><a href="#" class="cs-color-4 styleswitch" data-rel="color-four"></a></li>
                    <li><a href="#" class="cs-color-5 styleswitch" data-rel="color-five"></a></li>
                    <li><a href="#" class="cs-color-6 styleswitch" data-rel="color-six"></a></li>
                    <li><a href="#" class="cs-color-7 styleswitch" data-rel="color-seven"></a></li>
                    <li><a href="#" class="cs-color-8 styleswitch" data-rel="color-eight"></a></li>
                    <li><a href="#" class="cs-color-9 styleswitch" data-rel="color-nine"></a></li>
                    <li><a href="#" class="cs-color-10 styleswitch" data-rel="color-ten"></a></li>
                </ul>
                <div class="ec-pattren">
                    <h6>Chose Pattren</h6>
                    <div class="pattren-wrap">
                        <a href="#" data-rel="pattren1" class="styleswitch"><img src="{% static 'img/ec-pattren/pattren1.jpg' %}" alt=""></a>
                        <a href="#" data-rel="pattren2" class="styleswitch"><img src="{% static 'img/ec-pattren/pattren2.jpg' %}" alt=""></a>
                        <a href="#" data-rel="pattren3" class="styleswitch"><img src="{% static 'img/ec-pattren/pattren3.jpg' %}" alt=""></a>
                        <a href="#" data-rel="pattren4" class="styleswitch"><img src="{% static 'img/ec-pattren/pattren4.jpg' %}" alt=""></a>
                        <a href="#" data-rel="pattren5" class="styleswitch"><img src="{% static 'img/ec-pattren/pattren5.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="ec-background">
                    <h6>Chose Background</h6>
                    <div class="background-wrap">
                        <a href="#" data-rel="background1" class="styleswitch"><img src="{% static 'img/ec-background/bg-1.jpg' %}" alt=""></a>
                        <a href="#" data-rel="background2" class="styleswitch"><img src="{% static 'img/ec-background/bg-2.jpg' %}" alt=""></a>
                        <a href="#" data-rel="background3" class="styleswitch"><img src="{% static 'img/ec-background/bg-3.jpg' %}" alt=""></a>
                        <a href="#" data-rel="background4" class="styleswitch"><img src="{% static 'img/ec-background/bg-4.jpg' %}" alt=""></a>
                        <a href="#" data-rel="background5" class="styleswitch"><img src="{% static 'img/ec-background/bg-5.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Color Switcher end -->