<div class="pagination-content">
  <ul class="pagination">
      <li>
        {% if page.has_previous %}
          <a href="?page={{page.previous_page_number}}">
        {% else %}
          <a>
        {% endif %}
          <i class="zmdi zmdi-chevron-left"></i>
        </a>
      </li>
    <li>
      <a>{{ page.number }}/{{ page.paginator.num_pages }}</a>
    </li>
      <li>
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}">
        {% else %}
          <a>
        {% endif %}
          <i class="zmdi zmdi-chevron-right"></i>
        </a>
      </li>
  </ul>
</div>
