{% extends "index/index.html" %}
{% load blog_tags %}

    {% block title %}{{ post.title }}{% endblock %}

    {% block content %}

        <!--Breadcrumb Banner Area Start-->
        <div class="breadcrumb-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-text">
                            <h1 class="text-center">Batafsil</h1>
                            <div class="breadcrumb-bar">
                                <ul class="breadcrumb text-center">
                                    <li><a href="{% url 'index:asosiy' %}">Bosh sahifa</a></li>
                                    <li><a href="{% url 'blog:post_list' %}">Yangiliklar</a></li>
                                    <li>Batafsil</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb Banner Area-->
        <!--News Details Area Start-->
        <div class="news-details-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-12">
                        <div class="news-details-content">
                           <div class="single-latest-item">
                                <img src="/media/{{ post.image }}" alt="{{ post.title }}" width="870" height="440">  
                                <div class="single-latest-text">
                                    <h3>{{ post.title }}</h3> 
                                    <div class="single-item-comment-view">
                                       <span><i class="zmdi zmdi-calendar-check"></i>{{ post.publish|date:"d.m.Y" }}</span>
                                        <span><i class="zmdi zmdi-eye"></i>{{ post.views }}</span>
                                        <span><i class="zmdi zmdi-comments"></i>
                                            {# commentlar soni #}
                                            {{ comments.count }}
                                        </span>
                                    </div>        
                                    {{ post.body|markdown }}
                                    <div class="tags-and-links">
                                        <div class="related-tag">
                                            <span>Tag:</span>
                                            <ul class="tags">
                                                {% for tag in post.tags.all %}
                                                    <li>
                                                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                                            {{ tag.name }}
                                                        </a>
                                                        {% if not forloop.last %}, {% endif %}
                                                    </li>                     
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="social-links">
                                            <span>Share:</span>
                                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments">
                                <h4 class="title">Comments</h4>
                                {# comment #}
                                {% for comment in comments %}
                                    {# comment-reply #}
                                    <div class="single-comment">
                                        <div class="author-image">
                                            <img src="/media/blog/no_image.png" alt="no_image">
                                        </div>
                                        <div class="comment-text">
                                            <div class="author-info">
                                                <h4><a href="#">{{ comment.name }}</a></h4>
                                                <span class="reply"><a href="#">Reply</a></span>
                                                <span class="comment-time">Posted on {{ comment.created|date:"H-m d.m.Y" }} /</span>
                                            </div>
                                            <p>{{ comment.body|linebreaks }}</p>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <p>There are no comments yet.</p>
                                {% endfor %}
                                {# end comment #}
                                <h2>Add a new comment</h2>
                                <form action="." method="post">
                                    {{ comment_form.as_p }}
                                    {% csrf_token %}
                                    <p><input type="submit" value="Add comment"></p>
                                </form>
                            </div>
                        </div>    
                    </div>
                    <div class="col-lg-3 col-md-12 col-12">
                            <div class="sidebar-widget">
                                {% if similar_posts %}
                                    <div class="single-sidebar-widget">
                                        <h4 class="title">Similar Posts</h4>
                                        <div class="recent-content">
                                            {% for tag in similar_posts %}
                                                <div class="recent-content-item">
                                                    <a href="{{ tag.get_absolute_url }}">
                                                        <img src="/media/{{ tag.image }}" alt="{{ tag.title }}" width="70" height="67">
                                                    </a>
                                                    <div class="recent-text">
                                                        <h4>
                                                            <a href="{{ tag.get_absolute_url }}">
                                                                {{ tag.title }}
                                                            </a>
                                                        </h4>
                                                        <div class="single-item-comment-view">
                                                            <span><i class="zmdi zmdi-eye"></i>{{ tag.views }}</span>
                                                            {# <span><i class="zmdi zmdi-comments"></i>{{ comments.count }}</span> #}
                                                        </div>
                                                        <p>{{ tag.body|markdown|truncatewords_html:3 }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="single-sidebar-widget">
                                    <h4 class="title">Recent Post</h4>
                                    <div class="recent-content">
                                        {% for last_post in last_posts %}
                                            <div class="recent-content-item">
                                                <a href="{{ last_post.get_absolute_url }}">
                                                    <img src="/media/{{ last_post.image }}" alt="{{ last_post.title }}" width="70" height="67">
                                                </a>
                                                <div class="recent-text">
                                                    <h4><a href="{{ last_post.get_absolute_url }}">{{ last_post.title }}</a></h4>
                                                    <div class="single-item-comment-view">
                                                        <span><i class="zmdi zmdi-eye"></i>{{ last_post.views }}</span>
                                                        {# <span><i class="zmdi zmdi-comments"></i>{{ comments.count }}</span> #}
                                                    </div>
                                                    <p>{{ last_post.body|markdown|truncatewords_html:3 }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="single-sidebar-widget">
                                    <h4 class="title">Search by Tags</h4>
                                    <ul class="tags">
                                        {% for tags in all_tags  %}
                                            <li><a href="{% url 'blog:post_list_by_tag' tags.slug %}">{{tags.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of News Details Area-->
        
    {% endblock %}