{% extends "index/index.html" %}
{% load blog_tags %}

    {% block title %} {{ title }} {% endblock %}


    {% block content %}

        <!--Breadcrumb Banner Area Start-->
        <div class="breadcrumb-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-text">
                            {% if tag %}
                                <h1 class="text-center">Posts tagged with "{{ tag.name }}"</h1>
                                {% else %}
                                <h1 class="text-center">Maktab hayotiga oid yangiliklar</h1>
                            {% endif %}
                            <div class="breadcrumb-bar">
                                <ul class="breadcrumb text-center">
                                    <li><a href="{% url 'index:asosiy' %}">Bosh sahifa</a></li>
                                    <li>Yangiliklar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb Banner Area-->

        <!--Course Area Start-->
        <div class="course-area section-padding course-page">
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-item">
                                <div class="single-item-image overlay-effect">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="/media/{{ post.image }}" alt="{{ post.title }}" style="width:300px; height:211px;">
                                    </a>
                                </div>
                                <div class="single-item-text">
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                    <div class="single-item-text-info">
                                        <span>By: <span>{{ post.author }}</span></span>
                                        <span>Date: <span>{{ post.publish|date:"d.m.Y" }}</span></span>
                                    </div>
                                    <p>{{ post.body|markdown|truncatewords_html:10 }}</p>
                                    <div class="single-item-content">
                                       <div class="single-item-comment-view">
                                            <span><i class="zmdi zmdi-eye"></i>{{ post.views }}</span>
                                            <span><i class="zmdi zmdi-comments"></i>{{ comments.count }}</span>
                                        </div>
                                        <div class="single-item-rating">
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                    </div>   
                                </div>
                                <div class="button-bottom">
                                    <a href="{{ post.get_absolute_url }}" class="button-default">Learn Now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% include "../pagination.html" with page=posts %}
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Area-->

    {% endblock %}